<section class="row align-items-stretch photos" id="section-photos">
    <div class="col-12">
        <div class="row align-items-stretch">
            {% for image in images %}
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="{{ asset('uploads/' ~ image.getName()) }}" class="d-block photo-item" data-fancybox="gallery">
                        <img src="{{ asset('uploads/' ~ image.getName()) }}" alt="Image" class="img-fluid mb-0">
                        <div class="photo-text-more">
                            <span class="icon icon-eye"></span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
