{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Upload d'une Image</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'form'}}) }}
                        <div class="mb-3">
                            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary float-end">Télécharger</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
